.logo.yew:hover {
  filter: drop-shadow(0 0 2em #20a88a);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0% 0% 0% 0%;
}

#content {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 32px;
  width: 100%;
  height: calc(100% - 32px);
  background-color: var(--primary-background-color);
}

#ribbon {
  position: absolute;
  top: 5px;
  height: 60px;
  left: 10px;
  right: 10px;
  background-color: var(--secondary-background-color);
}

#status-bar {
  position: absolute;
  bottom: 0px;
  height: 30px;
  left: 1px;
  right: 1px;
  background-color: var(--secondary-background-color);
}

#side-menus {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 5px;
  width: 50px;
  top: 70px;
  bottom: 35px;
  gap: 5px;
  background-color: var(--secondary-background-color);
}

.menu-item-elem {
  fill: var(--primary-background-color);
}

.menu-item {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.menu-item:hover {
  background-color: var(--primary-background-color);
}

.menu-item:hover .menu-item-elem {
  fill: var(--secondary-background-color);
}

.menu-item:active .menu-item-elem {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.3);
}

#pane {
  position: absolute;
  left: 60px;
  bottom: 35px;
  top: 95px;
  right: 5px;
  border: 1px solid var(--secondary-background-color);
}

#ancestry {
  position: absolute;
  top: 70px;
  left: 60px;
  right: 5px;
  height: 20px;
  border: 1px solid var(--secondary-background-color);
}

#title-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 32px;
  background-color: var(--secondary-background-color);
}

#app-logo {
  position: absolute;
  left: 0;
  width: 90px;
  height: 32px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

#tabs-container {
  position: absolute;
  left: 90px;
  right: 135px;
  height: 32px;
}

#control-box {
  position: absolute;
  display: flex;
  top: 1px;
  gap: 0;
  flex-direction: row-reverse;
  width: 135px;
  height: 30px;
  right: 0;
}

#all-tabs {
  position: absolute;
  display: flex;
  overflow: hidden;
  right: 30px;
  left: 30px;
  height: 32px;
  justify-content: flex-end;
  align-items: center;
}

#all-tabs::after {
  content: "";
  flex-grow: 1;
}

.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 30px;
  box-sizing: border-box;
}

.control-button:hover .elem {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.5);
}

.control-button.close-button:hover {
  background-color: red;
  border: 1px solid var(--primary-foreground-color);
}

#close-button-cross, #add-tab-plus, #mini-button-dash {
  fill: var(--primary-foreground-color);
}

.maxi-button-line {
  stroke: var(--primary-foreground-color);
}

.control-button.mini-button:hover,.control-button.maxi-button:hover {
  background-color: var(--primary-background-color);
  border: 1px solid white;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  border-left: 1px solid var(--primary-spare-color);
  color: var(--secondary-foreground-color);
  font-size: small;
  flex-grow: 0;
  flex-shrink: 0;
}

.tab.add-tab { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
  border-right: 1px solid var(--primary-spare-color);;
}

.tab.inactive {
  cursor: pointer;
  width: 150px;
  height: 30px;
}

.tab.active {
  width: 150px;
  height: 32px;
}

.tab-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 30px;
}

.tab-logo-elem {
  width: 20px;
  height: 20px;
}

.tab.active>.tab-logo>.tab-logo-elem {
  fill: var(--secondary-background-color);
}

.tab.inactive>.tab-logo>.tab-logo-elem {
  fill: var(--primary-background-color);
}

.tab-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.tab-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 20px;
  padding-right: 3px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.tab-close:hover .tab-close-cross {
  border: 1px solid var(--secondary-foreground-color);
}

.tab-close:active .tab-close-cross {
  border: 2px solid var(--primary-foreground-color);
  filter: brightness(200%);
}

.tab-close-cross{
  fill: var(--secondary-foreground-color);
}

.tab.inactive:hover, .tab.add-tab:hover {
  background-color: var(--primary-background-color);
}

.tab.inactive:hover .tab-logo>.tab-logo-elem {
  fill: var(--secondary-background-color);
}

.tab.add-tab:active {
  filter: brightness(125%);
}

.tab.tab.add-tab:active #add-tab-plus {
  scale: 1.5;
}

.tab.active {
  background-color: var(--primary-background-color);
  top: 1px;
  z-index: 88;
}
