.logo.yew:hover {
  filter: drop-shadow(0 0 2em #20a88a);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0% 0% 0% 0%;
  background-color: var(--primary-background-color);
  user-select: none;
}

#content {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 32px;
  width: 100%;
  height: calc(100% - 32px);
  background-color: var(--primary-background-color);
}

#ribbon {
  position: absolute;
  top: 5px;
  height: 60px;
  left: 10px;
  right: 10px;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.ribbon-group {
  background-color: var(--primary-background-color);
}

#ribbon-nav {
  height: 50px;
  width: 32px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.ribbon-nav-ico {
  height: 23px;
  width: 25px;
}

.ribbon-nav-item {
  height: 25px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid var(--primary-background-color);
}

.ribbon-nav-item.active:hover {
  border-color: var(--primary-foreground-color);
}

.ribbon-nav-item.active:active {
  background-color: var(--secondary-background-color);
}

#ribbon-clipboard {
  width: 170px;
  height: 56px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.ribbon-medium-group {
  width: 30px;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.ribbon-large {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ribbon-large.active:hover img {
  border: 2px solid var(--secondary-spare-color); 
}

.ribbon-large.active img {
  background-color: var(--secondary-background-color);
}

.ribbon-large.active:active img {
  background-color: var(--secondary-spare-color);
}

.ribbon-large.active:active {
  background-color: var(--secondary-spare-color);
}

.ribbon-large img {
  height: 44px;
  width: 44px;
}

.ribbon-medium {
  width: 28px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  border: 1px solid var(--primary-spare-color);
}

.ribbon-medium img {
  width: 20px;
  height: 20px;
}


.ribbon-medium:hover, .ribbon-small:hover {
  border-color: var(--primary-foreground-color);
}

.ribbon-medium:active, .ribbon-small:active {
  background-color: var(--secondary-background-color);
}

.ribbon-textgroup {
  display: flex;
  height: 56px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  color: var(--primary-foreground-color);
  font-size: 12px;
}

.ribbon-small img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.ribbon-small {
  width: 72px;
  height: 17px;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid var(--primary-spare-color);
}

.ribbon-mid-small {
  height: 40px;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.ribbon-mid-small div, .ribbon-mid-small select {
  width: 100%;
  height: 17px;
}

.ribbon-mid-small select {
  background-color: var(--secondary-background-color);
  color: var(--primary-foreground-color);
}

#ribbon-creations {
  width: 184px;
  height: 56px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

#ribbon-trash {
  height: 50px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ribbon-arrange {
  width: 135px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

#ribbon-highlight {
  width: 100px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

#ribbon-refresh {
  height: 50px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ribbon-properties {
  height: 50px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ribbon-actions {
  height: 56px;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#status-bar {
  position: absolute;
  bottom: 0px;
  height: 30px;
  left: 1px;
  right: 1px;
  background-color: var(--secondary-background-color);
}

#side-menus {
  position: absolute;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  left: 5px;
  width: 44px;
  top: 70px;
  bottom: 35px;
  gap: 10px;
  background-color: var(--secondary-background-color);
  padding-top: 10px;
}

.menu-item-elem {
  fill: var(--primary-background-color);
}

.menu-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary-background-color);
}

.menu-item svg {
  width: 30px;
  height: 30px;
}

.menu-item:hover {
  border-color: var(--secondary-spare-color);
}

.menu-item.active-menu {
  background-color: var(--primary-background-color);
  border-color: var(--secondary-spare-color);
}

.menu-item.active-menu .menu-item-elem {
  fill: var(--secondary-background-color);
}

.menu-item:active .menu-item-elem {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.3);
}

#home-pane {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.home-section {
  position: relative;
  width: 100%;
  border-top: 1px dashed var(--secondary-background-color);
  box-sizing: border-box;
}

.home-section-dsc-text {
  position: absolute;
  color: var(--primary-foreground-color);
  height: 20px;
  top: 0px;
  left: 0px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  font-size: smaller;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.home-section-dsc-text:active {
  background-color: var(--secondary-background-color);
}

#drives-section {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 20px;
}

.drives-section-elem {
  width: 240px;
  height: 60px;
  position: relative;
  font-size: small;
  color: var(--primary-foreground-color);
  box-sizing: content-box;
  border: 1px solid var(--primary-background-color);
  flex-shrink: 0;
  flex-grow: 0;
}

.home-section .selected {
  background-color: var(--secondary-background-color);
}

.drives-section-elem:active {
  border-color: var(--primary-foreground-color);
}

.drives-section-elem:hover {
  background-color: var(--secondary-background-color);
}

.drives-section-elem-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

.drives-section-item-icon-img {
  width: 54px;
  height: 54px;
}

.drives-section-elem-name {
  position: absolute;
  width: 180px;
  height: 20px;
  left: 60px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  flex-wrap: nowrap;
  justify-content: left;
}

.drives-section-elem-guage {
  position: absolute;
  width: 180px;
  height: 20px;
  left: 60px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.drives-section-elem-guage-outer {
  height: 14px;
  width: 170px;
  box-sizing: content-box;
  border: 2px solid var(--primary-spare-color);
}

.drives-section-elem-guage-inner {
  position: relative;
  height: 100%;
  background-color: var(--secondary-spare-color);
}

.drives-section-elem-desc {
  position: absolute;
  width: 180px;
  height: 20px;
  left: 60px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: last baseline;
}

#folders-section {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 20px;
}

.folders-section-elem:hover {
  background-color: var(--secondary-background-color);
}

.folders-section-elem:active {
  border-color: var(--primary-foreground-color);
}

.folders-section-elem {
  width: 180px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  padding-left: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: content-box;
  border: 1px solid var(--primary-background-color);
}

.folders-section-elem-name {
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--primary-foreground-color);
}

.folders-section-elem-img {
  position: relative;
  width: 60px;
  height: 60px;
}

.folders-section-elem:hover .folders-section-elem-img-outer {
  fill: var(--primary-background-color);
}

.folders-section-elem-img-outer {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0px;
  left: 0px;
  fill: var(--secondary-background-color);
}

.folders-section-elem-img-inner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 12px;
  left: 10px;
}

.stroke-secondary-spare {
  stroke: var(--secondary-spare-color);
}

.stroke-primary-spare {
  stroke: var(--primary-spare-color);
}

.fill-primary-spare {
  fill: var(--primary-spare-color);
}

.fill-secondary-spare {
  fill: var(--secondary-spare-color);
}

.fill-secondary-foreground {
  fill: var(--secondary-foreground-color)
}

.fill-secondary-background {
  fill: var(--secondary-background-color)
}

.fill-none {
  fill: none;
}

.stoke-none {
  stroke: none;
}


#favorites-section {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 20px;
}

#recents-section {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 20px;
}

.fullpane {
  position: absolute;
  top: 70px;
  right: 5px;
  left: 54px;
  bottom: 35px;
}

#unimplementedpane {
  color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  overflow: hidden;
}

#pane-list-view {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 25px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  overflow-y: auto;
  overflow-x: auto;
}

#pane-list-view::after {
  content: "";
  height: 200px;
  width: 770px;
  flex-shrink: 0;
  flex-grow: 1;
}

#pane-list-view-dsc {
  position: absolute;
  width: 770px;
  top: 0px;
  height: 25px;
  padding-left: 5px;
  display: flex;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  font-size: small;
  color: var(--secondary-foreground-color);
}

.pane-list-view-dsc-checkbox-container {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pane-list-view-dsc-checkbox {
  width: 10px;
  height: 10px;
}

.pane-list-view-dsc-filetype {
  width: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pane-list-view-dsc-filename {
  width: 350px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
}

#pane-tile-view {
  position: absolute;
  overflow-y: auto;
  overflow-x: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#pane-tile-view::after {
  position: relative;
  content: "";
  flex-shrink: 0;
  flex-grow: 1;
  height: 200px;
  width: 800px;
}

.tile-item  {
  margin: 5px;
  position: relative;
  height: 54px;
  width: 240px;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--primary-foreground-color);
}

.tile-item.selected {
  background-color: var(--secondary-background-color);
}

.tile-item:hover {
  background-color: var(--secondary-background-color);
}

.tile-checkbox-container {
  left: 0px;
  top: 0px;
  height: 54px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-filetypeicon-container {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 2px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-description {
  position: absolute;
  top: 0px;
  width: 170px;
  height: 54px;
  left: 70px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tile-filetypeicon-container img {
  width: 45px;
  height: 45px;
}

.tile-filename {
  height: 22px;
  width: 160px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: left;
  font-size: 13px;
}

.tile-filesize {
  width: 160px;
  height: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
  white-space: nowrap;
  color: var(--secondary-spare-color);
}


.tile-optional {
  width: 160px;
  height: 16px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
  white-space: nowrap;
}


#pane-grid-view {
  position: absolute;
  overflow-y: auto;
  overflow-x: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#pane-grid-view::after {
  position: relative;
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  height: 200px;
  width: 100%;
}

.grid-item  {
  position: relative;
  height: 128px;
  width: 100px;
  color: var(--primary-foreground-color);
}

.grid-item.selected {
  background-color: var(--secondary-background-color);
}

.grid-item:hover {
  background-color: var(--secondary-background-color);
}

.grid-checkbox-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 100%;
  display: flex;
  align-items: center;
}

.grid-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

.grid-filetypeicon-container {
  position: absolute;
  top: 12px;
  left: 2px;
  height: 96px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-filetypeicon-container img, .grid-filetypeicon-container svg {
  width: 100%;
  height: 100%;
}

.grid-filename {
  position: absolute;
  top: 108px;
  left: 0px;
  height: 20px;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-content: left;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 13px;
}


.list-item {
  height: 30px;
  width: 770px;
  display: flex;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  color: var(--primary-foreground-color);
  font-size: small;
}

.list-item.selected {
  background-color: var(--secondary-background-color);
}

.list-item:hover {
  background-color: var(--secondary-background-color);
}

.list-item.selected .folder-file-icon.list-type-icon {
  fill: var(--primary-background-color);
}

.list-item:hover .folder-file-icon.list-type-icon {
  fill: var(--primary-background-color);
}

.list-checkbox-container {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explorer-checkbox {
  position: relative;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 1px solid var(--primary-spare-color);
  background-color: var(--primary-foreground-color);
  visibility: hidden;
}

.explorer-checkbox:checked {
  visibility:visible;
}

.list-item:hover .explorer-checkbox, .tile-item:hover .explorer-checkbox, .grid-item:hover .explorer-checkbox  {
  visibility: visible;
}

.list-filetypeicon-container {
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-filename-container {
  height: 30px;
  width: 350px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

.list-filename {
  width: 350px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding-left: 5px;
  padding-right: 15px;
}

.list-modifieddate-container {
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.list-accesseddate-container {
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: small;
}

.list-createddate-container {
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: small;
}

.list-type-icon {
  width: 24px;
  height: 24px;
}

#trash-pane {
  overflow: hidden;
}

#explorer-pane {
  overflow: hidden;
}

#explorer-main-section {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 25px;
  right: 0px;
  border: 1px solid var(--secondary-background-color);
  overflow-x: hidden;
  overflow-y: hidden;
}

#ancestry {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 20px;
  border: 1px solid var(--secondary-background-color);
}

#ancestry-path {
  all: unset;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  color: var(--primary-foreground-color);
  border: none;
  font-size: small;
}

#ancestry-path:focus {
  box-sizing: border-box;
  border: 1px solid var(--secondary-background-color);
}

#ancestry-items-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
}

.ancestry-chevron-container {
  height: 20px;
  width: 20px;
  box-sizing: border-box;
}

.ancestry-chevron {
  height: 20px;
  width: 20px;
  stroke: var(--primary-foreground-color);
  fill: transparent;
}

.ancestry-chevron:hover {
  box-sizing: border-box;
  border: 1px solid var(--secondary-spare-color);
}

.ancestry-chevron:active {
  background-color: var(--secondary-background-color);
}

.ancestry-ancestor {
  height: 20px;
  font-size: small;
  width: auto;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  padding-right: 2px;
  color: var(--primary-foreground-color);
  max-width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ancestry-ancestor:active {
  filter: brightness(150%);
}

.ancestry-ancestor:hover {
  background-color: var(--secondary-background-color);
}

#title-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 32px;
  background-color: var(--secondary-background-color);
}

#app-logo {
  position: absolute;
  left: 0;
  width: 98px;
  height: 32px;
  display: flex;
  align-items: center;
}

#app-logo-img {
  width: 20px;
  height: 20px;
}

#app-logo-name {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--primary-foreground-color);
  font-size: 12px;
}

.app-logo-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-logo-btn-img {
  width: 20px;
  height: 20px;
  fill: var(--secondary-spare-color);
}

.app-logo-btn:hover {
  background-color: var(--primary-background-color);
}

.app-logo-btn:active {
  border-color: var(--primary-spare-color);
}

.app-logo-btn:active .app-logo-btn-img {
  transform: scale(1.3);
}

.app-logo-btn img {
  width: 20px;
  height: 20px;
}

#tabs-container {
  position: absolute;
  left: 98px;
  right: 135px;
  height: 32px;
}

#control-box {
  position: absolute;
  display: flex;
  top: 0;
  gap: 0;
  flex-direction: row-reverse;
  align-items: center;
  width: 135px;
  height: 32px;
  right: 0;
}

#tabs-shower {
  position: absolute;
  left: 0px;
  width: 22px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid var(--secondary-spare-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#tabs-shower:active {
  border: 2px solid var(--secondary-spare-color);
  background-color: var(--primary-background-color);
}

#tabs-shower-chevron {
  width: 22px;
  height: 30px;
  fill: var(--primary-foreground-color);
}

#all-tabs {
  position: absolute;
  display: flex;
  overflow: hidden;
  right: 30px;
  left: 22px;
  height: 32px;
  justify-content: flex-end;
  align-items: center;
}

#all-tabs::after {
  content: "";
  flex-grow: 1;
}

.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  box-sizing: border-box;
}

.control-button.control-button.mini-button, .control-button.maxi-button {
  height: 30px;
}

.control-button.close-button {
  height: 32px;
}

.control-button:hover .elem {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.5);
}

.control-button.close-button:hover {
  background-color: red;
  border: 1px solid var(--primary-foreground-color);
}

.close-button-cross, #add-tab-plus, #mini-button-dash {
  fill: var(--primary-foreground-color);
}

.maxi-button-line {
  stroke: var(--primary-foreground-color);
}

.control-button.mini-button:hover,.control-button.maxi-button:hover {
  background-color: var(--primary-background-color);
  border: 1px solid white;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  border-left: 1px solid var(--primary-spare-color);
  color: var(--primary-foreground-color);
  font-size: small;
  flex-grow: 0;
  flex-shrink: 0;
  text-wrap: nowrap;
  overflow: hidden;
}

.tab.add-tab { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
  border-right: 1px solid var(--primary-spare-color);;
}

.tab.inactive {
  cursor: pointer;
  width: 150px;
  height: 30px;
}

.tab.active {
  width: 150px;
  height: 32px;
}

.tab-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 30px;
}

.tab-logo-elem {
  width: 20px;
  height: 20px;
}

.tab.active>.tab-logo>.tab-logo-elem {
  fill: var(--secondary-background-color);
}

.tab.inactive>.tab-logo>.tab-logo-elem {
  fill: var(--primary-background-color);
}

.tab-text {
  display: block;
  width: 105px;
  padding-left: 5px;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tab-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.tab-close:hover .tab-close-cross {
  border: 1px solid var(--secondary-spare-color);
  fill: var(--secondary-spare-color);
}

.tab-close:active .tab-close-cross {
  border: 2px solid var(--primary-foreground-color);
  filter: brightness(200%);
}

.tab-close-cross{
  fill: var(--primary-spare-color);
}

.tab.inactive:hover, .tab.add-tab:hover {
  background-color: var(--primary-background-color);
}

.tab.inactive:hover .tab-logo>.tab-logo-elem {
  fill: var(--secondary-background-color);
}

.tab.add-tab:active {
  filter: brightness(125%);
}

.tab.tab.add-tab:active #add-tab-plus {
  scale: 1.5;
}

.tab.active {
  background-color: var(--primary-background-color);
  top: 1px;
  z-index: 88;
}

.background-fill-1 {
  fill: var(--primary-background-color);
}

.background-fill-2 {
  fill: var(--secondary-background-color);
}

.foreground-fill-1 {
  fill: var(--primary-foreground-color);
}

.foreground-fill-2 {
  fill: var(--secondary-foreground-color);
}

.spare-fill-1 {
  fill: var(--primary-spare-color);
}

.spare-fill-2 {
  fill: var(--secondary-spare-color);
}


.folder-file-icon.list-type-icon {
  fill: var(--secondary-background-color);
}

#settings-pane {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--primary-foreground-color);
  font-size: 12px;
}

#settings-pane .selectable {
  height: 20px;
  width: auto;
  display: flex;
  align-items: center;
  column-gap: 20px;
  box-sizing: content-box;
  border-bottom: 1px dashed var(--secondary-background-color);
}

#settings-pane .label {
  width: auto;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
}

#settings-pane .selector {
  width: auto;
  height: 18px;
  font-size: 13px;
  box-sizing: border-box;
  background-color: var(--secondary-spare-color);
  color: var(--primary-spare-color);
}

.new-item {
  left: 360px;
  top: 240px;
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 3;
  color: var(--primary-foreground-color);
  border: 2px solid var(--secondary-spare-color);
}

.new-item .new-item-member {
  width: 250px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.new-item .new-item-member.prompt {
  justify-content: left;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.new-item .new-item-member .new-item-member-btn {
  width: 100px;
  height: 30px;
  border: 2px solid var(--primary-spare-color);
  background-color: var(--primary-background-color);
  color: var(--primary-foreground-color);
}

.new-item .new-item-member .new-item-member-btn:hover {
  border-color: var(--secondary-spare-color);
}

.sort-popup {
  position: fixed;
  width: 150px;
  border: 2px solid var(--secondary-spare-color);
  height: 180px;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  color: var(--primary-foreground-color);
  z-index: 3;
  top: 65px;
  list-style-type: none;
}

.sort-popup ul {
  list-style-type: none;
}

.sort-popup li {
  cursor: pointer;
}

.sort-popup-item:hover .sort-popup-sub {
  transition: display 3s ease-in-out;
}

.sort-popup-item:hover >label {
  background-color: var(--primary-background-color);
}

.sort-popup-sub-item:hover label {
  background-color: var(--primary-background-color);
}

.sort-popup-item:hover .sort-popup-sub {
  display: block;
}

.sort-popup-sub {
  display: none;
}

.find-popup {
  width: 270px;
  height: 24px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 100px;
  background-color: var(--secondary-background-color);
  border: 2px solid var(--secondary-spare-color);
  z-index: 3;
}

.find-popup-logo {
  margin-left: 3px;
  margin-right: 3px;
  width: 20px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-popup-logo img {
  width: 20px;
  height: 20px;
}

.find-popup-input {
  height: 20px;
  box-sizing: border-box;
  width: 180px;
  border: none;
  margin-right: 2px;
}

.find-popup-nav {
  height: 24px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-popup-nav:hover {
  background-color: var(--primary-background-color);
}

.find-popup-nav:active {
  background-color: var(--secondary-spare-color);
}

.find-popup-nav svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-spare-color);
}

.find-popup-close {
  margin-left: 2px;
  height: 24px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-popup-close:hover {
  background-color: red;
}

.find-popup-close:hover svg {
  fill: white;
}

.find-popup-close:active svg {
  scale: 1.3;
}

.find-popup-close svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-spare-color);
}

#search-pane {
  overflow: hidden;
}

#search-results-pane {
  position: absolute;
  left: 250px;
  top: 25px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

#search-results-pane .list-filename {
  direction: rtl;
}

#search-options-pane {
  position: absolute;
  left: 0px;
  width: 250px;
  bottom: 0px;
  top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left;
  justify-content: start;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  background-color: var(--secondary-background-color);
  color: var(--primary-foreground-color);
  box-sizing: border-box;
}


#search-options-input {
  height: 25px;
}

#search-options-search-btn {
  background-color: var(--primary-background-color);
  border: 2px solid var(--secondary-background-color);
  height: 25px;
  color: var(--primary-foreground-color);
}

#search-options-search-btn:hover {
  border-color: var(--secondary-spare-color);
}

#search-options-cancel-btn {
  background-color: red;
  height: 25px;
  color: var(--primary-foreground-color);
}